# Node modules
node_modules/

# Cypress videos & screenshots
cypress/videos/
cypress/screenshots/

# Cypress downloads (if used)
cypress/downloads/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Coverage reports
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Cypress cache
.cypress-cache/
